.FeatureFlagsRoot {
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.FeatureFlagsRoot.-expanded {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
}

.FeatureFlagsRoot .title {
  text-align: right;
}

.FeatureFlagsRoot .toggleButton {
}
